<div class = "col-md-4">
	<h1>Vacature | <%= @vacancy.id %></h1>
	<p><%= @vacancy.titel %></p><br>
	<p>Omschrijving</p><p><%= @vacancy.description %></p><br>
	<li><%= link_to "Vacature instellingen", edit_vacancy_path %></li>
                </ul>
</div>