// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chosen-choices{
	height: 100px !important;
}

.search-field{
	height: 50px !important;
}

.search-field input{
	height: 50px !important;
}